h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: grey;
}

body {
    background-size: 1500px 1670px;
    background-image: url("../images/pexels-aleksandar-pasaric-325185.jpg")
}

body{
    font-family: 'Raleway', sans-serif;
    }

ol{
    list-style-type: upper-roman;
}

ul {
    list-style-type: upper-roman;
}

/* spacing */

table {
    table-layout: auto;
    width: 20%;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 100%;
}

thead th:nth-child(4) {
    padding: 5px;
}

th, td {
    padding: 5px;
}

a:link {    /* unvisited link */
    color: #ff0000;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:visited {    /* visited link */
    color: #ff00ff;
}
a:hover {    /* mouse over link */
    color: #00ff00;
    border-bottom: none;
}
a:active {    /* active link */
    color: #00ffff;
}
